/*testabc*/
html,body{
	overflow-x:hidden;
	font-size:1.031em;
	line-height:1.125em;
}
body {
	  word-wrap: break-word;
}

/*type*/
.mfgz-sym{
	  font-family:mfgz;
		font-weight:normal;
}
body,p,h1,h2,h3,h4,h5,h6{
  font-family:akzgro;
  font-weight:bold;
  color:#000000;
}
h1,h2,h3,h4,h5,h6{
  margin-top:0px;
  font-weight:bold;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1,.h1{
  font-weight:bold;
  font-size:3.7em;
}
header h1{
  margin-bottom:40px;
}
h2, .h2{
  font-size:2.47em;
}
h1.page-title{
  //padding-top:22px;
}
@media(max-width:415px){
  h1,.h1{
    font-size: 40px;
  }
  h2, .h2{
    font-size:2em;
  }
}
.small-font, .small-font #content{
  font-size:17px;
}
.med-font, .med-font #content{
  font-size:19px;
}
.large-font, .large-font #content{
  font-size:21px;
}
@media(orientation:portrait),(max-width:800px){
  #content{
    font-size:17px;
  }
  .edit-link{
    display:none;
  }
  .small-font, .small-font #content{
    font-size:17px;
  }
}
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p:empty{
  display:none;
}
a{
  color:inherit;
  cursor:pointer;
  text-decoration:none;
}
a:hover, a:active, a:focus{
  color:inherit;
  opacity:.6;
  text-decoration:none;
}
p a{
  border-bottom:1px solid #000;
}
p a:hover, p a:active, p a:focus{
  opacity:.6;
}
html{
  margin-top:0px !important;
}
textarea, input, button { outline: none; }
:focus {
  outline-color: transparent;
  outline-style: none;
}
a{
  outline:0;
}
a:hover, a:active, a:focus {
  outline:0;
}
.subtitle{
  font-weight:bold;
}
@media(orientation:portrait),(max-width:800px){
  .subtitle{
    font-size:.823em;
  }
}

/*containers*/
.main-content #content{
  padding-bottom:100px;
}
.main-content{
  position:relative;
  z-index:1;
}

/*buttons*/
.btn{
  border:0px;
  font-weight:bold;
}
.btn-default{
  background-color:#000;
  color:#fff;
}
.btn-default:hover, .btn-default:active, .btn-default:focus{
  background-color:rgba(0,0,0,.8);
  color:#fff;
}
.btn-lg, .btn-group-lg>.btn{
  border-radius:0px;
}
.button.button-primary.button-hero:hover, .button.button-primary.button-hero:active, .button.button-primary.button-hero:focus{
  background-color:#00D5B1;
  border-color:#00D5B1;
}

/*loader*/
.loader{
  position: fixed;
    left: 0px;
    top: 59px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
}
.loader .logo{
  width:100%;
  font-size:40px;
  line-height:1em;
  font-weight:bold;
  padding:15px;
  max-width:100%;
}
.guide-title{
  color:#e1002d;
}
.loader .vert-helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
/*exclude internet explorer*/
@media screen { @media (min-width: 0px) {
  .loader{
    display:none;
  }
} }

/*brand*/
.navbar-brand{
  font-size:1em;
  height:auto;
  line-height:20px;
  //max-height:23px;
}
@media(min-width:801px) and (orientation:landscape){
  .navbar-brand{
    padding:10px 10px 10px 0px;
  }
}
@media(orientation: portrait), (max-width: 800px){
  .navbar-brand{
    padding:10px 10px 10px 0px;
  }
}
.site-name{
  color:inherit;
  font-weight:bold;
  line-height:1em;
  display:inline-block;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	opacity:1;
}
.navbar-default .navbar-brand{
	color:inherit;
}
@media(orientation:portrait),(max-width:800px){
  .navbar-brand{
    padding-right:0px;
  }
}

.close-button:before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 22px;
  height: 2px;
  position: absolute;
  content: "";
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(0,0,0);
  text-shadow: none;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  left:0px;
  top:11px;
}

.close-button:after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 22px;
  height: 2px;
  position: absolute;
  content: "";
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(0,0,0);
  text-shadow: none;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  left:0px;
  top:11px;
}

/*font files*/
@font-face {
    font-family: 'mfgz';
    src: url('../fonts/mfgz-4.ttf');
    src:    url('../fonts/mfgz-4-webfont.eot?t02lac');
    src:    url('../fonts/mfgz-4-webfont.eot?t02lac#iefix') format('embedded-opentype'),
        url('../fonts/mfgz-4.ttf?t02lac') format('truetype'),
        url('../fonts/mfgz-4-webfont.woff?t02lac') format('woff'),
        url('../fonts/mfgz-4-webfont.svg?t02lac#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "akzgro";
    src:url("../fonts/akzidenzgroteskbe-regular.eot");
    src:url("../fonts/akzidenzgroteskbe-regular.eot?#iefix") format("embedded-opentype"),
        url('../fonts/akzidenzgroteskbe-regular_cyr.ttf') format('truetype'),
        url("../fonts/akzidenzgroteskbe-regular.woff2") format("woff2"),
        url("../fonts/akzidenzgroteskbe-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "akzgro";
    src:url("../fonts/akzidenzgroteskbe-it.eot");
    src:url("../fonts/akzidenzgroteskbe-it.eot?#iefix") format("embedded-opentype"),
        url('../fonts/akzidenzgroteskbe-it_cyr.ttf') format('truetype'),
        url("../fonts/akzidenzgroteskbe-it.woff2") format("woff2"),
        url("../fonts/akzidenzgroteskbe-it.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "akzgro";
    src:url("../fonts/akzgromed.eot");
    src:url("../fonts/akzgromed.eot?#iefix") format("embedded-opentype"),
        url('../fonts/akzgromed_cyr.ttf') format('truetype'),
        url("../fonts/akzgromed.woff2") format("woff2"),
        url("../fonts/akzgromed.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "akzgro";
    src:url("../fonts/akzgromedit.eot");
    src:url("../fonts/akzgromedit.eot?#iefix") format("embedded-opentype"),
        url('../fonts/akzgromedit_cyr.ttf') format('truetype'),
        url("../fonts/akzgromedit.woff2") format("woff2"),
        url("../fonts/akzgromedit.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "fontawesome";
    src:url("../fonts/fontawesome-webfont.eot");
    src:url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url("../fonts/fontawesome-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

